.toctree-wrapper ul, ol, li { 
    margin-top: 0.5em !important; 
    margin-bottom: 0 !important;
}

.toctree-wrapper {
    margin-bottom: 1rem;
  }

#content h2 {
    border-bottom-width: 0px !important;
    font-size: 1.25rem !important;
    font-weight: 600;
    line-height: 2.25rem !important;
    margin-top: 0.5rem !important;
    padding-bottom: 0rem !important;
  }

#content h3 {
    border-bottom-width: 0px !important;
    font-size: 1.15rem !important;
    font-weight: 600;
    line-height: 2.25rem !important;
    margin-top: 0.5rem !important;
    padding-bottom: 0rem !important;
  }
#content dl {
    margin-top: 0.5em;
  }

#content dl dt:not(.sig) {
    margin-top: 0em;
  }

#content ul:not(.search) p, #content ul:not(.search) > li {
    margin-top: .5rem !important;
  }
#content ul:not(.search) {
    list-style-type: disc;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
  }